@import '../../../styles/Mixin.scss';
.wrapper {
    display: flex;
    position: relative;
    min-height: 100vh;

    .sidebar {
        width: 25rem;
        transition: all 0.15s linear;
        border-right: 1px solid rgba(0, 0, 0, 0.2);
        height: 100%;
    }

    .menu-mobile {
        width: 8rem;
    }

    .container {
        display: flex;
        flex-direction: column;
        width: 100%;

        .header {
            height: 6rem;
            border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        }

        .content {
            background-color: var(--primary-content);
            flex: 1;
            padding: 2rem;
        }
    }
}

@include respond(tab) {
    .wrapper {
        .container {
            margin-left: 5rem;
            width: calc(100% - 5rem);
        }
        .menu-mobile {
            width: 5rem;
        }
        .sidebar {
            position: absolute;
            background-color: var(--white);
            z-index: 10;
        }
        .active-sidebar {
            &::after {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                z-index: 5;
                background-color: rgba(0, 0, 0, 0.1);
                width: 100vw;
                height: 100%;
            }
        }
    }
}

@include respond(smartphone) {
    .wrapper {
        .container {
            height: 100vh;
            .content {
                padding: 1rem;
            }
        }
    }
}
