@import '../../../styles/Mixin.scss';
.sidebar-categories {
    display: flex;
    margin: 0 -0.5rem;
}
.new-products,
.sell-products,
.products {
    background-color: var(--primary-client-background-color);
    border-radius: var(--border-radius);
    padding: 2rem;
    margin-bottom: var(--margin-2rem);
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    color: var(--white);
    margin: 1rem 0;
}

.show-all {
    display: flex;
    align-items: center;
    color: var(--white);

    & .arrow-show-all {
        transition: all 0.15s linear;
        transform: translate(0, 0);
    }

    &:hover .arrow-show-all {
        transform: translate(0.5rem, 0);
    }
}

.text-show-all {
    padding-right: 0.5rem;
}

.your-self {
    color: #000;
}

.wrap-products {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    row-gap: 1rem;
    grid-auto-rows: auto;
}

.products {
    background-color: var(--white);
    border-radius: var(--border-radius);
}

@include respond(tab) {
    .wrapper {
        .wrap-products {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}

@include respond(smartphone) {
    .wrapper {
        .header {
            flex-wrap: wrap;
        }
        .wrap-products {
            grid-template-columns: repeat(1, 1fr);
        }
        .title {
            font-size: 3rem;
            width: 100%;
        }
        .show-all {
            display: block;
            margin-bottom: 1rem;
        }
    }
}
