@import '../../../../styles/Mixin.scss';
.info-customer,
.info-bill,
.info-price {
    background-color: var(--white);
    border-radius: var(--border-radius);
    width: 100%;
}

.header {
    text-align: center;
    padding: 1rem 0;
}

.wrapper-product {
    display: flex;
    margin: 0 -1rem;
}

.info-bill,
.info-price {
    margin: 0 1rem;
}

.info-price {
    flex-basis: 70%;
}

.wrapper-cart {
    position: relative;
    display: flex;
    padding: 1.5rem;
    margin-bottom: 2rem;
}

.wrapper-info {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    margin-bottom: 2rem;
}

.wrapper-info-price {
    padding: 1.5rem;
}

.sale-code,
.sale-price {
    padding-left: 2rem;
}

.title-info {
    display: inline-block;
    font-weight: 600;
    margin: 0.5rem 0.5rem 0.5rem 0;
}

.image {
    width: 20rem;
    border-radius: var(--border-radius);
    margin-right: 2rem;
}

.name-product {
    margin: 0;
}

.price-product {
    margin: 1rem 0;
}

.number-product {
    display: flex;
    align-items: center;
}

.price-active {
    color: red;
    font-weight: 600;
    font-size: 2rem;
}

.price-old {
    color: #aaa;
    font-size: 1.4rem;
    text-decoration: line-through;
    margin-left: 1rem;
}

@include respond(tab) {
    .image {
        width: 8rem;
        object-fit: contain;
    }
    .info-price {
        flex-basis: 60%;
    }
}
