.wrapper {
    margin: var(--margin-2rem) 0;
}
.heading {
    text-align: center;
    color: var(--white);
}
.products {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    row-gap: 1rem;
}

.title {
    margin: 0 0.5rem 0.5rem;
    color: var(--white);
}
