.wrapper {
    display: flex;
    flex-direction: column;
    color: var(--primary-admin);

    .toggleMenu {
        padding: 1.5rem;
        color: var(--primary-admin);
        font-size: 2rem;
        height: 6rem;
        cursor: pointer;
        align-self: center;
        justify-self: center;
    }

    .menu {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .linkMenu {
            color: #999;
            padding: 2rem;
            margin-bottom: 1rem;

            &.active {
                color: var(--primary-admin);
                border-width: 0 3px 0 0;
                border-style: solid;
                border-image: linear-gradient(0deg, var(--white) 5%, var(--primary-admin) 70%);
                border-image-slice: 1;
                margin-right: -3px;
                z-index: 1;
            }
        }

        .titleMenu {
            padding-left: 1rem;
        }
    }

    .menuClose {
        .linkMenu {
            text-align: center;
        }
        .titleMenu {
            display: none;
        }
    }
}
