@import '../../../../styles/Mixin.scss';
.wrapper {
    display: flex;
    background-color: var(--white);
    padding: 1rem;
    border-radius: 1rem;

    .images {
        width: 35rem;

        .action {
            margin-top: 1.5rem;
            text-align: center;
            .btn {
                display: inline-block;
                background-color: var(--primary-admin);
                padding: 1rem;
                color: #fff;
                border-radius: 0.5rem;
                cursor: pointer;
            }
        }
    }

    .content {
        margin-left: 5rem;
    }

    .title-price {
        font-size: 2rem;
        font-weight: bold;
    }

    .sale,
    .price {
        color: red;
        font-weight: bold;
        font-size: 2rem;
    }

    .sale {
        margin-right: 1rem;
    }

    .sale-price {
        color: #bbb;
        text-decoration: line-through;
    }
}

.popup {
    font-size: 1.6rem !important;
}

.wrapper-type {
    margin: 0 -1rem;
    user-select: none;
}

.wrapper-item {
    display: flex;
}

.item {
    display: inline-block;
    position: relative;
    text-align: center;
    border: 1px solid #ccc;
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: var(--border-radius);
    overflow: hidden;
}

.type-description,
.type-price {
    margin: 0.8rem;
}

.type-description {
    font-size: 1.5rem;
    font-weight: 600;
}

.type-price {
    font-size: 1.3rem;
    letter-spacing: 1px;
}

.active {
    border: 1px solid red;
    &::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 2rem;
        height: 1.4rem;
        border-bottom-right-radius: var(--border-radius);
        background: #d70018;
        background-image: url('../../../../assets/images/check-solid.svg');
        background-size: 50%;
        background-repeat: no-repeat;
        background-position: center;
        color: #fff;
    }
}

.sold-out {
    opacity: 0.5;
    cursor: default;
}

.price-info {
    margin: 1rem 0 2rem 0;
}

.show-description {
    margin-left: 1rem;
    text-transform: capitalize;
}

.wrapper-color {
    margin-bottom: 2rem;
}

.title-select-color {
    margin: 1rem;
}

@include respond(tab) {
    .wrapper {
        flex-wrap: wrap;
        .images {
            min-width: 15rem;
            width: 15%;
        }
        .content {
            margin-left: 2rem;
            width: calc(100% - 17rem);
        }
        .wrapper-item {
            flex-wrap: wrap;
        }
        .description {
            width: 100%;
            padding: 2rem;
            img {
                width: 100%;
            }
        }
    }
}
