.wrapper {
    width: 100%;
}

.menu {
    position: relative;
    list-style: none;
    background-color: var(--white);
    padding: 0;
    margin: 0;
    border-radius: var(--border-radius);
}

.item {
    padding: 1rem 0.5rem;
    border-radius: var(--border-radius);

    &:hover,
    &:hover .link {
        border-radius: var(--border-radius);
        color: var(--primary-admin);
        background-color: rgb(243, 245, 252);
        cursor: pointer;
        transition: all 0.25s linear;
    }

    &:hover .sub-menu {
        display: block;
    }
}

.link {
    display: flex;
    align-items: center;
}

.image {
    width: 3rem;
}

.name {
    padding: 0 1rem;
}

.sub-menu {
    position: absolute;
    top: 0;
    left: 100%;
    background-color: var(--white);
    height: 40rem;
    min-width: 20rem;
    list-style: none;
    box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.5);
    z-index: 1;
    display: none;
    padding: 0;
}

.sub-menu-name {
    display: block;
    padding: 1.5rem;
}
