.wrapper {
    margin: 5rem 0;
}
.wrapper-form-bill,
.wrapper-find-bill {
    width: 80%;
    margin: var(--margin-2rem) auto;
    background-color: #efefef;
    border-radius: var(--border-radius);
    padding: 2rem 0 3rem;
}
.title {
    text-align: center;
    margin-bottom: 2rem;
    text-transform: uppercase;
}
.wrapper-info {
    display: flex;
    align-items: center;
    justify-content: center;
}
.input {
    width: unset;
    margin: 0 2rem 0 1rem;
}

.btn {
    background-color: var(--primary-client-background-color);
    border-radius: 1rem;
    color: var(--white);
    padding: 1rem;
    margin-left: 1.5rem;
    text-transform: uppercase;
    font-weight: 600;
    width: 12rem;
    cursor: pointer;
}

.wrapper-product {
    display: flex;
    margin: 0 -1rem;
}

.info-bill,
.info-price {
    margin: 0 1rem;
}

.info-bill {
    flex: 1;
}

.info-price {
    flex-basis: 30%;
}

.wrapper-cart {
    position: relative;
    display: flex;
    padding: 1.5rem;
    margin: 2rem;
    background-color: var(--white);
    border-radius: 1rem;
}

.customer-info {
    margin: 2rem;
}

.wrapper-info {
    display: flex;
    justify-content: center;
    padding: 1.5rem;
    margin-bottom: 2rem;
    align-items: center;
}

.wrapper-info-price {
    padding: 1.5rem;
    background-color: var(--white);
    border-radius: 1rem;
    margin: 2rem;
}

.sale-code,
.sale-price {
    padding-left: 2rem;
}

.title-info {
    display: inline-block;
    font-weight: 600;
    margin: 0.5rem 0.5rem 0.5rem 0;
}

.image {
    width: 20rem;
    border-radius: var(--border-radius);
    margin-right: 2rem;
}

.name-product {
    margin: 0;
}

.price-product {
    margin: 1rem 0;
}

.number-product {
    display: flex;
    align-items: center;
}

.price-active {
    color: red;
    font-weight: 600;
    font-size: 2rem;
}

.price-old {
    color: #aaa;
    font-size: 1.4rem;
    text-decoration: line-through;
    margin-left: 1rem;
}
