.wrapper {
    background-color: var(--white);
    margin: auto;
    padding: 2rem;
    border-radius: 1rem;
    width: 50%;

    .header {
        text-align: center;
        color: var(--primary-admin);
    }

    .create-btn {
        padding: 1rem;
        background-color: var(--primary-admin);
        cursor: pointer;
        margin-top: 2rem;
        border-radius: 0.5rem;
        color: var(--white);
    }
}
