.wrapper {
    .wrapper-statistics {
        display: flex;
        align-items: center;
        gap: 1rem;
    }
    .dashboard {
        display: inline-block;
        border-radius: 1rem;
    }
    .dashboard-category {
        background-color: greenyellow;
        padding: 2rem;
    }
    .dashboard-bill {
        background-color: rgb(248, 184, 65);
        padding: 2rem;
    }
    .title {
        font-weight: 600;
        font-size: 2rem;
    }
    .content {
        font-size: 2rem;
    }
    .wrapper-bill {
        display: flex;
        align-items: center;
        gap: 1rem;
    }
    .title-dashboard {
        margin: 2rem 0 1rem;
    }
}
