.input {
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
    width: 100%;
    box-sizing: border-box;
}

.error {
    border: 1px solid #cc0033;
}

.mb1 {
    margin-bottom: 1rem;
}
