.wrapper {
    width: 100%;
}

.menu {
    list-style: none;
    background-color: var(--white);
    padding: 0;
    margin: 0;
    border-radius: var(--border-radius);
}

.item {
    padding: 1rem 0.5rem;
    border-radius: var(--border-radius);

    &:hover,
    &:hover .link {
        border-radius: var(--border-radius);
        color: var(--primary-admin);
        background-color: rgb(243, 245, 252);
        cursor: pointer;
        transition: all 0.25s linear;
    }
}

.link {
    display: flex;
    align-items: center;
}

.image {
    width: 3rem;
}

.name {
    padding: 0 1rem;
}
