.wrapper {
    display: flex;
    overflow: hidden;
}

.menuLeft,
.menuRight,
.slider {
    margin-top: var(--margin-2rem);
}

.menuLeft,
.menuRight {
    width: 22rem;
    flex-shrink: 0;
}

.slider {
    width: 100%;
    max-width: 100%;
    height: 100%;
    overflow: hidden;
}
