.wrapper {
    display: flex;
    background-color: var(--white);
    padding: 1rem;
    border-radius: 1rem;
    margin: var(--margin-2rem) 0;

    .images {
        width: 35rem;
    }

    .content {
        margin-left: 5rem;
    }

    .titlePrice {
        font-size: 2rem;
        font-weight: bold;
    }

    .sale,
    .price {
        color: red;
        font-weight: bold;
        font-size: 2rem;
    }

    .sale {
        margin-right: 1rem;
    }

    .salePrice {
        color: #bbb;
        text-decoration: line-through;
    }
}

.wrapperType {
    margin: 0 -1rem;
    cursor: pointer;
    user-select: none;
}

.item {
    display: inline-block;
    position: relative;
    text-align: center;
    border: 1px solid #ccc;
    padding: 0.5rem;
    margin: 0 1rem;
    border-radius: var(--border-radius);
    overflow: hidden;
}

.typeDescription,
.typePrice {
    margin: 0.8rem;
}

.typeDescription {
    font-size: 1.5rem;
    font-weight: 600;
}

.typePrice {
    font-size: 1.3rem;
    letter-spacing: 1px;
}

.active {
    border: 1px solid red;
    &::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 2rem;
        height: 1.4rem;
        border-bottom-right-radius: var(--border-radius);
        background: #d70018;
        background-image: url('../../../assets/images/check-solid.svg');
        background-size: 50%;
        background-repeat: no-repeat;
        background-position: center;
        color: #fff;
    }
}

.priceInfo {
    margin-bottom: 2rem;
}

.showDescription {
    margin-left: 1rem;
}

.btn {
    padding: 1rem;
    border-radius: var(--border-radius);
    background: linear-gradient(#f52f32, #e11b1e);
    color: var(--white);
    margin: 1rem 0;
    cursor: pointer;
}

.methodPayment,
.addCart {
    margin: 0;
}

.addCart {
    text-transform: uppercase;
    margin: 0.5rem 0;
}
