.wrapper {
    display: flex;
    background-color: var(--white);
    padding: 1rem;
    border-radius: 1rem;
    margin: var(--margin-2rem) 0;

    .images {
        width: 35rem;
    }

    .content {
        margin-left: 5rem;
    }

    .title-price {
        display: inline-block;
        font-size: 2rem;
        font-weight: bold;
        margin-top: 1rem;
        margin-right: 0.5rem;
    }

    .sale,
    .price {
        color: red;
        font-weight: bold;
        font-size: 2rem;
    }

    .sale {
        margin-right: 1rem;
    }

    .sale-price {
        color: #bbb;
        text-decoration: line-through;
    }
}

.wrapper-type {
    margin: 0 -1rem;
    user-select: none;
}

.wrapper-item {
    display: flex;
}

.item {
    display: inline-block;
    position: relative;
    text-align: center;
    border: 1px solid #ccc;
    padding: 0.5rem;
    margin: 0 1rem;
    border-radius: var(--border-radius);
    overflow: hidden;
}

.type-description,
.type-price {
    margin: 0.8rem;
}

.type-description {
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: capitalize;
}

.type-price {
    font-size: 1.3rem;
    letter-spacing: 1px;
}

.title-select-color {
    margin: 1rem;
}

.active {
    border: 1px solid red;
    &::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 2rem;
        height: 1.4rem;
        border-bottom-right-radius: var(--border-radius);
        background: #d70018;
        background-image: url('../../../assets/images/check-solid.svg');
        background-size: 50%;
        background-repeat: no-repeat;
        background-position: center;
        color: #fff;
    }
}

.sold-out {
    opacity: 0.5;
    cursor: default;
}

.price-info {
    margin-bottom: 2rem;
}

.show-description {
    margin-left: 1rem;
    text-transform: capitalize;
}

.btn {
    padding: 1rem;
    border-radius: var(--border-radius);
    background: linear-gradient(#f52f32, #e11b1e);
    color: var(--white);
    margin: 1rem 0;
    cursor: pointer;
}

.method-payment,
.add-cart {
    margin: 0;
}

.add-cart {
    text-transform: uppercase;
    margin: 0.5rem 0;
}
