.wrap-payment-info {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    border-radius: var(--border-radius);
    padding: 1.5rem;
}

.wrap-total-price,
.wrap-total-price-sale {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.title-total-price,
.title-total-price-sale {
    margin: 0;
}

.total-price,
.total-price-sale {
    font-size: 2rem;
    font-weight: 600;
    color: var(--main-color);
}

.wrap-payment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.payment,
.other-product {
    padding: 2rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 600;
    width: 100%;
    text-align: center;
    border-radius: 0.5rem;
    cursor: pointer;
}

.payment,
.btn-sale {
    border-radius: 0.5rem;
    background-color: var(--main-color);
    color: var(--white);
}

.other-product {
    border: 1px solid var(--main-color);
    color: var(--main-color);
    transition: all 0.1s linear;

    &:hover {
        color: #fff;
        background-color: #dc3545;
        border-color: #dc3545;
    }
}
.wrap-sale-code {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.btn-sale,
.title-sale-code {
    flex-shrink: 0;
}

.title-sale-code {
    margin-right: 1rem;
}

.btn-sale {
    cursor: pointer;
    padding: 1rem;
    margin-left: 1rem;
}

.mb0 {
    margin-bottom: 0;
}
