.bottom-navigation {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 10;
}

.category-smartphone {
    position: fixed;
    top: 7rem;
    width: 100%;
    z-index: 10;
    background-color: #fff;
}
